/* Variables */
:root {
  --white-color: #fff;
  --black-color: #000;
  --blue-color: #40DFEF;
  --green-color: #68A7AD;
}

/*General*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Radio Canada', sans-serif;
}

/**/

div {
  display: grid;
  background-color: var(--white-color);
  padding: 20px;
  text-align: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--green-color);
  padding: 0 20px;
}


.card-container {
  display: flex;
  width: 500px;
  height: auto;
  background-color: var(--white-color);
  border-radius: 2px;
  box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 2);
}

.card-container img {
  width: 200px;
  height: 200px;
}

.container-info {
  text-align: center;
  font-size: 15px;
}

.container-info input {
  text-decoration: none;
  border-radius: 25px;
  padding: 10px 15px;
}

.container-info button {
  margin: 5px;
  text-decoration: none;
  padding: 12px 20px;
  font-size: 15px;
  position: relative;
  background-color: var(--green-color);
  color: var(--white-color);
  border-radius: 50px;
  box-shadow: none;
}

.container-info button:hover {
  background-color: var(--white-color);
  color: var(--green-color);
}

.id-pokemon {
  text-align: center;
}

.container-img h2 {
  text-transform: uppercase;
}

@media (max-width:640px) {
  .card-container{
    display: block;
    width: 450px;
  }


  .container-info input {
    height: 50px;
    width: 200px;
  }

  .container-info button {
    height: 50px;
    width: 200px;
  }


  .container-img {
    display: block;
    justify-content: center;
    align-items: center;
  }
}
